{% extends 'base.html.twig' %}

{% block title %}
    {{ 'edit.edit'|trans({'%id%': task.id|default('')}) }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                {% include 'default/_form.html.twig' with {
                    page_title: 'edit.edit'|trans({'%id%': task.id|default('')}),
                    form: form,
                    submit_label: 'edit.edit'|trans,
                    back_to_list_path: 'task_index'
                } %}
            </div>
        </div>
    </div>
{% endblock %}
